body{


font-family:

"Pyidaungsu",
Arial,
sans-serif;


background:#f5f5f5;


margin:0;


padding:20px;


}



.container{


max-width:900px;


margin:auto;


}




.header{


text-align:center;


background:white;


padding:25px;


border-radius:15px;


margin-bottom:20px;


}



textarea{


width:100%;


height:180px;


padding:15px;


font-size:16px;


border-radius:10px;


border:1px solid #ccc;


resize:none;


}



button{


margin-top:15px;


width:100%;


padding:15px;


background:#2563eb;


color:white;


border:none;


border-radius:10px;


font-size:18px;


cursor:pointer;


}



button:hover{


background:#1d4ed8;


}





.result-card{


background:white;


margin-top:25px;


padding:25px;


border-radius:15px;


}




.box{


margin-top:20px;


padding:15px;


background:#fafafa;


border-radius:10px;


}




.status{


font-size:22px;


font-weight:bold;


}



.evidence-card{


background:white;


padding:15px;


margin-top:15px;


border-radius:10px;


border-left:5px solid #2563eb;


}



.evidence-card p{


line-height:1.7;


}



a{


color:#2563eb;


text-decoration:none;


font-weight:bold;


}