<!DOCTYPE html>

<html lang="my">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">


<title>
Myanmar AI Fact Verification Assistant
</title>


<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">


</head>


<body>


<div class="container">


<div class="header">

<h1>
📰 Myanmar AI Fact Verification Assistant
</h1>


<p>
AI Based Fake News Verification System
</p>

</div>




<form method="POST">


<textarea

name="content"

placeholder="Enter Myanmar news text or public URL..."

required></textarea>



<button type="submit">

🔍 Verify

</button>


</form>





{% if result %}



<div class="result-card">


<h2>
Verification Result
</h2>



<div class="box">


<h3>
Claim
</h3>


<p>

{{ result.claim }}

</p>


</div>






<div class="box">


<h3>
Status
</h3>


<p class="status">

{{ result.status }}

</p>



<h3>
Confidence
</h3>


<p>

{{ result.confidence }} %

</p>



</div>






<div class="box">


<h3>
Entities
</h3>


{% for entity in result.entities %}


<p>

{{ entity.type }}

:

{{ entity.value }}

</p>


{% endfor %}



</div>







<div class="box">


<h3>
Evidence Sources
</h3>



{% if result.evidence %}



{% for item in result.evidence %}



<div class="evidence-card">


<h4>

{{ item.title }}

</h4>



<p>

{{ item.content[:500] }}

...

</p>




<p>

<b>
Source:
</b>

{{ item.source }}

</p>





<p>

<b>
Semantic Score:
</b>

{{ item.semantic_score }}

</p>





<p>

<b>
Lexical Score:
</b>

{{ item.lexical_score }}

</p>





<p>

<b>
Trust Score:
</b>

{{ item.trust_score }}

</p>





<p>

<b>
Final Score:
</b>

{{ item.final_score }}

</p>





<a href="{{ item.url }}" target="_blank">

🔗 Open Source

</a>



</div>



{% endfor %}



{% else %}


<p>

No matching evidence found.

</p>


{% endif %}



</div>







<div class="box">


<h3>
Explanation
</h3>


<p>

{{ result.explanation }}

</p>



</div>





</div>


{% endif %}





</div>



</body>


</html>